body {
    background-color: #ffe8a3;
}

.container {
    border-width: 10px;
    color: #ffd65d;
    border-style: solid;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

h1 {
    font-size: 96px;
    color: #ab0009;
    border: 8px solid #690005;
    text-align: center;
}

h2 {
    font-size: 40px;
    color: #c2000a;
}

h3 {
    font-size: 25px;
    color: #520004; 
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
    color: #000000;
}

img {
    max-width: 100%;
    border-style: ridge;
    color: #bd0009;
    border-width: 10px;
    align-content: center;
}

a {
    color:#ff871f;
    font-weight: bold;
}

.highlight {
    background-color: #ff9c45;
}

.fitted_img {
    width: 600px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1250px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
}