body {
    background-image: url("../images/quake_background.jpg");
}

.container {
    border-width: 10px;
    color: #05a000;
    background-color: #0e5200; 
    border-style: solid;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

h1 {
    font-size: 96px;
    color: #00f000;
    border: 8px solid #1e9500;
    text-align: center;
}

h2 {
    font-size: 40px;
    color: #13cc02;
}

h3 {
    font-size: 25px;
    color: #1ba300; 
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
    color: #000000;
}

img {
    max-width: 100%;
    border-style: ridge;
    border-width: 10px;
    align-content: center;
}

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
    color: #000000; 
}

iframe {
    max-width: 100%;
}

a {
    color:#00d900;
    font-weight: bold;
}

.highlight {
    background-color: #1eff00;
}

.fitted_img {
    width: 600px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1250px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
    iframe {
        width: 500px;
        height: 300px;
    }
}